@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --border-color: rgba(var(--gray-light), 1);

  --bg-color: #f9fafb;
  --text-color: rgb(var(--gray-dark));
  --card-bg-color: #ffffff;
  --card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --card-hover-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -2px rgb(0 0 0 / 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--bg-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.7;
}

main {
  width: 960px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 6rem 1em 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  padding-bottom: 0.3em;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 1em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  color: var(--accent);
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--border-color);
}
@media (max-width: 960px) {
  body {
    font-size: 16px;
  }
  main {
    padding-top: 5rem;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
