---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="ja">
  <BaseHead title="yui19278.github.io" />
  <body
    style="font-family: 'Zen Kurenaido', sans-serif; font-family: 'Zen Kurenaido', cursive;"
  >
    <main>
      <h1>yui19278.github.io</h1>
      <p>Hello, world!</p>
    </main>
    <Footer />
  </body>
</html>
