---
import About from "../components/About.astro";
import Career from "../components/Career.astro";
import Footer from "../components/Footer.astro";
// import Header from "../components/Header.tsx";
import Projects from "../components/Projects.astro";
import Techlist from "../components/TechList.tsx";
import Vision from "../components/Vision.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="yui19278 / Portfolio">
  <!-- <Header client:load /> -->

  <main class="container py-4">
    <About />
    <Career />
    <Techlist />
    <Projects />
    <Vision />
  </main>
</BaseLayout>

<Footer />
