<section id="about" class="text-center py-5">
  <img
    width="150"
    height="150"
    alt="yui19278"
    src="https://avatars.githubusercontent.com/u/44569789?v=4"
    class="rounded-circle mb-3"
  />
  <h1 class="mb-3">yui19278's Portfolio</h1>
  <h2>自己紹介</h2>
  <p>id: yui19278</p>
  <p>得意領域: バックエンド</p>
  <p>趣味: VR / FPS / キーボード</p>
</section>
