---
export interface Props {
  title: string;
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>yui19278</title>
  <link
    href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Kurenaido&display=swap"
    rel="stylesheet"
  />
</head>
