<section id="Career" class="my-5">
  <h2 class="text-center mb-5">経歴</h2>
  <p class="text-center">
    <p>中古1万で買ったデスクトップで，高2からプログラミングを始めました.</p>
    <p>
      マイクラ鯖(整地鯖)にのめりこみ，mod開発に取り組むようになりました.
      <p>
        大学では物作り系サークルの部長と文化系サークルの統率を行う委員会の会長を経験し，リーダーシップを発揮しました.
      </p>
      <p>
        ベンチャー企業でのアルバイト経歴と大手企業でのインターン経歴があり，フロント・DB・バックエンド・インフラと幅広い実務経験があります.
      </p>
      <p>
        ICPC参加経験，CTF参加経験・作問経験があります.
        <p>研究室ではKubernetesのセキュリティに関する研究に取り組んでいます.</p>
      </p>
    </p>
  </p>
</section>
