<section id="Career" class="my-5">
  <h2 class="text-center mb-5">経歴</h2>
  <div class="px-8 text-center space-y-4">
    <p>高校2年生の頃, 中古のデスクトップを購入し, プログラミングを始めました.</p>
    <p>マインクラフトサーバ（整地鯖）にのめり込み, MOD 開発に取り組むようになりました.</p>
    <p>大学では, 物作り系サークルの部長と文化系サークルの統率を行う委員会の会長を経験し, リーダーシップを発揮しました.</p>
    <p>
      株式会社スプーキーズでは半年間 Vue を用いたフロントエンド開発を,
      株式会社ドワンゴでは半年間 Scala によるバックエンド開発を経験し,<br />
      フロントエンド, データベース, バックエンド, インフラにわたる
      幅広い実務経験を積みました.
    </p>
    <p>ICPC参加経験, CTF参加および作問経験があります.</p>
    <p>研究室ではKubernetesのセキュリティに関する研究に取り組んでいます.</p>
  </div>
</section>
