---
import { projects } from "../data/data";
---

<section id="projects" class="my-5">
  <h2>制作物</h2>
  {
    projects.map((p) => (
      <div class="mb-4">
        <h4>{p.title}</h4>
        <p class="text-muted">{p.tags.join(" / ")}</p>
        <p>{p.description}</p>
        <a href={p.link} target="_blank" rel="noopener noreferrer">
          GitHub レポジトリ
        </a>
      </div>
    ))
  }
</section>
