<section id="vision" class="my-5">
  <h2>思い描くエンジニア像</h2>
  <p>
    私がエンジニアとして目指すのは，インターネット上で初めて触れたサービスに胸を躍らせたあのワクワク感を，世代を超えて多くの人に届けることです．<br
    />
    その実現に向けて，一つの専門分野を深く極めると同時に，関連する他分野にも幅広い知見を持つ「H型人材」になりたいと考えています．<br
    />
    インターンの経験を通じて，優れたプロダクトは「企画側の意図」や「ユーザーに届けたい体験」をエンジニアが深く理解し，技術的な視点から最適案を模索することで生まれると実感しました．<br
    />
    そのためにも，まずはエンジニアとして技術をとことん追求し土台を固めたうえで，将来的にプロジェクト全体を俯瞰できるプロダクトマネージャーや，技術がわかる企画職といったキャリアも視野に入れており，事業の成長に技術とビジネスの両面から貢献できる人材になることを目標としています．
  </p>
</section>
